[user]
	email = gdhong@melfas.com
	name = gildong hong
[gerrit]
	createchangeid = false
[core]
	autocrlf = true
	excludesfile = ~/.global_ignore
[diff "pandoc"]
  textconv=pandoc --to=markdown
  prompt = false
[alias]
  wdiff = diff --word-diff=color --unified=1
[diff "xls"]
    binary = true
    textconv = py_xls2txt
[diff "xlsx"]
    binary = true
    textconv = python git_diff_xlsx.py
